#container {
  min-width: max-content;
}

#sketch-container {
  max-width: max-content;
  max-height: max-content;
  border: 1px solid black;

}

.row {
  display: flex;
  flex-direction: row;
  min-height: max-content;
  max-width: max-content;
}
