#container {
  min-width: max-content;
}

#sketch-container {
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

#slider-container {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

